<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-ng-debounced-click="$close()"><span>&times;</span></button>
    <h4 class="modal-title">
    	<span class="glyphicons glyphicons-eject modal-header-icon"></span>
    	<span data-i18n="open.drawer">Open Drawer</span>
    </h4>
  </div>
  <div class="modal-body">
    
     <form name="myform" autocomplete="off">
	  <div class="form-group">
	    <label for="username" data-i18n="username">Username</label>
	    <input type="text" class="form-control" id="username" name="username" ng-model="username" required="required" focus-me="true">
	  </div>
	  
	  <div class="form-group">
	    <label for="password" data-i18n="password">Password</label>
	    <input type="password" class="form-control" id="password" name="password" ng-model="password" required="required">
	  </div>
	  
	   <div class="form-group">
	    <label for="reason" data-i18n="reason">Reason</label>
	    <textarea rows="" cols="" class="form-control" name="reason" ng-model="reason" required="required"></textarea>
	  </div>
	</form>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-success button-green" data-ng-debounced-click="openCashDrawer( username,password,reason )" ng-disabled="!isValid()">
    	<div data-i18n="proceed">Proceed</div>
    </button>
  </div>
</div><!-- /.modal-content -->