<div class="modal-content" data-test-id="comment-popup">
  <div class="modal-header">
    <button type="button" class="close" data-ng-debounced-click="$close()"><span>&times;</span></button>
    <h4 class="modal-title">
    	<span class="glyphicons glyphicons-comments modal-header-icon"></span>
		<span data-i18n="comments">Comments</span>
    </h4>
  </div>
  <div class="modal-body">
    
    <div class="comment-container">
    	<div ng-repeat="comment in $ctrl.comments">
	    	<div class="column-container">
	    		<div>
    				<span class="glyphicons glyphicons-user xs"></span>
	    			<div>{{comment.user}}</div>
	    		</div>
	    		<div>
		    		<div>{{comment.date }}</div>
		    		<div>{{comment.message}}</div>
	    		</div>
	    	</div>
	    </div>
    </div>
    
     <form name="myform" autocomplete="off">
	  <div class="form-group">
	    <label for="comments" data-i18n="enter.comments">Enter Comments:</label>
	    <textarea class="form-control" data-test-id="comments" id="comments" name="comments" ng-model="$ctrl.comment" required="required" focus-me="true" select-on-focus ng-enter="$ctrl.addComment($ctrl.comments)"></textarea>
	  </div>
	</form>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-success button-green" data-ng-debounced-click="$ctrl.addComment($ctrl.comment)"  data-test-id="add-comment">
    	<div data-i18n="proceed" data-test-id="proceed">Proceed</div>
    </button>
  </div>
</div><!-- /.modal-content -->