<div class="modal-content">
<form name="myform" autocomplete="off">
  <div class="modal-header">
    <button type="button" class="close" data-ng-debounced-click="$close()"><span>&times;</span></button>
    <h4 class="modal-title">
    	<span class="glyphicons glyphicons-credit-card modal-header-icon"></span>
    	<span data-i18n="payment.credit.card">Payment Credit Card</span>
    </h4>
  </div>
  <div class="modal-body">
	  <div class="row-container">
	  	<div class="row">
			<label data-i18n="total">Total:</label>
			<div>
				1000
			</div>
		</div>		
	  </div>
	  
	  <div class="form-group">
	    <label for="enter.card.amount" data-i18n="enter.card.amount">Enter Card Amount</label>
	    <input type="number" class="form-control" name="" required="required">
	 </div>
	  
	 <div class="form-group">
	  	<label for="card" data-i18n="card">Card</label>
	    <select class="form-control">
			<option value="V" selected="selected">Visa</option>
			<option value="M">MasterCard</option>
			<option value="A">American Express</option>
			<option value="N">Discover</option>
			<option value="H">Carte Blance</option>
			<option value="L">JAL</option>
			<option value="B">JCB</option>
			<option value="E">Enroute</option>
			<option value="D">Diner's Club</option>
			<option value="W">Switch</option>
		</select>
	</div>
	
		<!-- <div class="form-group">
			<input type="checkbox" ng-model="swipe" class="input-sm form-control" value="true" checked="checked" style="width: 20px;" />
			<div data-i18n="swipe.card">Swipe Card</div>		
		</div> -->
		
		<div class="checkbox form-group">
			<label data-i18n="swipe.card">
				<input type="checkbox" ng-model="swipe" value="true" checked="checked" />
				Swipe Card
			</label>
		</div>
				
	
	<div class="form-group" ng-show="swipe">
	    <label for="swipe.data" data-i18n="swipe.data">Swipe Data</label>
	    <input type="password" class="form-control" name="" required="required">
	</div>
	<div ng-show="!swipe">
		<div class="form-group">
		    <label for="card.number" data-i18n="card.number">Card Number</label>
		    <input type="number" class="form-control" name="" required="required">
		</div>
		<div class="column-container">
			<div class="form-group" style="padding-right: 2px;">
			    <label for="expiration" data-i18n="expiration">Expiration(MMYY)</label>
			    <input type="text" class="form-control" name="" required="required">
			</div>
			<div class="form-group" style="padding-left: 2px;">
			    <label for="cvv" data-i18n="expiration">CVV2</label>
			    <input type="number" class="form-control" name="" required="required">
			</div>
		</div>
		
		<div class="form-group">
		    <label for="name" data-i18n="name">Name</label>
		    <input type="text" class="form-control" name="" required="required">
		</div>
		<div class="form-group">
		    <label for="address" data-i18n="address">Address</label>
		    <input type="text" class="form-control" name="" required="required">
		</div>
		<div class="form-group">
		    <label for="zip.code" data-i18n="zip.code">Zip Code</label>
		    <input type="text" class="form-control" name="" required="required">
		</div>
				
	</div>
		
</div>
    
  <div class="modal-footer">
    <button type="button" class="btn btn-lg btn-success button-green" data-ng-debounced-click="acceptPayment()">
    	<div class="" data-i18n="proceed">Proceed</div>
    </button>
  </div>
</form>
</div><!-- /.modal-content -->