<!-- load document page  -->

<ons-page ng-controller="DocumentController as ctrl"> 
<ons-toolbar fixed-style>
  <div class="left">
  	<ons-toolbar-button ng-click="menu.setMainPage('page/home.html', {closeMenu: true})">
        <ons-icon icon="ion-chevron-left" style="font-size:30px;"></ons-icon>&nbsp;Back
    </ons-toolbar-button>
  </div>
  <div class="center">Item Picking</div>
  <div class="right"></div>
</ons-toolbar>

<form novalidate class="form-default" name="form" autocomplete="off">

	<div class="input-group">
		<label>Please enter the Picking No.</label>
		<!-- 
		<input type="text" id="documentno" value="" name="documentno" ng-model="ctrl.documentno" ng-required="required" ng-enter="ctrl.isValid() ? ctrl.loadDocument() : void(0)">
		 -->
		 <input type="text" id="documentno" value="" name="documentno">
	</div>
	
	<div class="input-group">
		<ons-button modifier="large" class="scanner-button" ng-disabled="!ctrl.isValid()" ng-click="ctrl.loadDocument()" tabindex="2">Start Picking</ons-button>
	</div>
	
</form>

</ons-page> 