<!-- picking page  -->

<ons-page ng-controller="PutAwayItemController as ctrl"> 
<ons-toolbar fixed-style>
  <div class="left">
  	<ons-toolbar-button ng-click="menu.setMainPage('page/home.html', {closeMenu: true})">
        <ons-icon icon="ion-chevron-left" style="font-size:30px;"></ons-icon>&nbsp;Back
    </ons-toolbar-button>
  </div>
  <div class="center">Place Item</div>
  <div class="right"></div>
</ons-toolbar>

<form novalidate class="form-default" name="form" autocomplete="off" id="form">
	<div ng-show="!ctrl.showNewLocation">
		<div>
			<div class="mono">Loc    : <span class="stand-out">{{ctrl.mapping.location}}</span></div>
			<div class="mono">Barcode: <span class="stand-out">{{ctrl.mapping.upc}}</span></div>
			<div class="mono">Name   : <span class="stand-out">{{ctrl.mapping.name}}</span></div>
			<div class="mono">Desc   : <span class="stand-out">{{ctrl.mapping.description}}</span></div>
		</div>
		
	
		<div class="input-group">
			<ons-row>
				<ons-col>
					<ons-button modifier="outline" class="scanner-button" ng-click="ctrl.showNewMappingView()" tabindex="3">New Loc</ons-button>
				</ons-col>
				<ons-col width="10px">
					&nbsp;
				</ons-col>
				<ons-col>
					<ons-button modifier="large" class="scanner-button" ng-show="ctrl.isValid()" ng-click="ctrl.next()" tabindex="4">Next Item</ons-button>
					<ons-button modifier="large" class="scanner-button" ng-show="!ctrl.isValid()" ng-click="menu.setMainPage('page/home.html', {closeMenu: true})" tabindex="4">Finish</ons-button>
				</ons-col>
			</ons-row>	
		</div>
	</div>
	
	<div ng-show="ctrl.showNewLocation">
		<div class="input-group">
			<label>Scan/Enter New Location</label>
			<input type="text" id="new-location" value="" name="location" ng-model="ctrl.location" ng-required="required">
		</div>
		
		<div class="input-group">
			<ons-row>
				<ons-col>
					<ons-button modifier="outline" class="scanner-button" ng-click="ctrl.showNewLocation = false">Cancel</ons-button>
				</ons-col>
				<ons-col width="10px">
					&nbsp;
				</ons-col>
				<ons-col>
					<ons-button modifier="large" class="scanner-button" ng-disabled="!ctrl.isValid()" ng-click="ctrl.addNewMapping()" tabindex="4">Save</ons-button>
				</ons-col>
			</ons-row>	
		</div>
	</div>
	
</form>
</ons-page> 


